name: Build and Push to ACR

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Azure Login (OIDC)
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - run: az acr login --name acrdockerupload

    - run: |
        docker build -t acrdockerupload.azurecr.io/flask-blob:latest .
        docker push acrdockerupload.azurecr.io/flask-blob:latest
